.container
  .row
    = render partial: "partials/sidebar"
    - if @ideas.any?
      = render partial: "partials/idea_list"
    - else
      %p
        This user doesn't seem to have any ideas yet.

