.container
  .row
    = render partial: "partials/sidebar"
    %h4
      = @user.username
    - if @ideas.any?
      = render partial: "partials/idea_list"
    - else
      %p
        This user doesn't seem to have any ideas yet.

