.container
  .row
    .col-12
      %h4
        = @user.username
  .row
    .col-12
      %a{href: "#"}
        Follow
  .row
    .col-12
      - if @ideas.any?
        = render partial: "partials/idea_list"
      - else
        %p
          This user doesn't seem to have any ideas yet.

