$white:     #fff
$light:     #e8e8e8
$dark:      #191818
$md-dark:   #353740
$lt-blue:   #399bf7
$turq:      #43d1ad
$dark-turq: #37b291
$blue:      #22cc99


button:focus, input:focus
  outline: none

/* util extend classes */
.card
  background: white
  margin-top: 1em
  position: relative
  border: none

*, ::after, ::before
  box-sizing: border-box


/* block level elements */
body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #454545
  box-sizing: border-box

h1, h2, h3, h4, h5, h6
  color: $dark
  text-shadow: none
  margin: 1em 0

main
  padding-bottom: 5em
nav
  border-bottom: 1px solid $light

.navbar-brand
  font-weight: bold
  letter-spacing: -1px
  img
    max-width: 100px

a.nav-link
  font-size: 16px
  color: $dark

a
  color: $dark
  display: inline-block
  text-decoration: none
  transition: 0.2s

.idea-image
  height: 70px
  width: 70px
  background-size: cover
  border-radius: 50%

.idea-letter
  @extend .idea-image
  font-size: 2em
  text-align: center
  padding-top: .5em

.image-banner
  height: 300px
  width: 100%
  background-size: contain
  background-repeat: no-repeat
  border-radius: 5px

ul
  padding: 0
  li
    list-style-type: none

form
  box-sizing: border-box
  font-size: 16px

.centered-form
  padding: 1em
  background: $white

.github-button
  color: #23282D
  width: 100%
  /* height: 40px; */
  border: 1px solid #23282D
  text-align: center
  padding: 5px
  border-radius: 5px
  svg
    height: 30px
    width: 30px
    fill: #23282D

.twitter-button
  color: #1dcaff
  width: 100%
  /* height: 40px; */
  border: 1px solid #1dcaff
  text-align: center
  padding: 5px
  border-radius: 5px
  svg
    height: 30px
    width: 30px
    fill: #1dcaff

#new_suggestion
  width: 100%

.suggestion-widget
  position: fixed
  background: $lt-blue
  border-radius: 1.5em
  color: $white
  right: 50px
  bottom: 50px
  padding: .5em
  &:hover
    color: #fff

.subscribe-form
  background: $md-dark
  color: $white
  .form-group
    input
      padding: 0.3em
      margin: 0 .5em
      border: none
  h6
    margin: 0 1em
    color: $white


.alert
  // padding: 1em
  margin: 0
  color: $md-dark
  &.alert-info
    background: $lt-blue

.form-group
  @extend .row
  margin: .5em 0
  label
    margin: 5px 0
    float: left
    font-weight: bold
    font-size: 16px
  input, textarea
    box-sizing: border-box
    width: 100%
    border: 1px solid $light
    border-radius: 5px
    float: left
    font-size: 16px
    padding: .5em
  textarea
    min-height: 200px
  input[type="radio"]
    width: auto
    margin-bottom: 0
  .selectize-input
    cursor: text
    position: relative
    z-index: 1
    display: inline-block
    width: 100%
    padding: 8px 8px
    overflow: hidden
    border: 1px solid $light
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    background: #fff
    padding: .2em
    .item
      float: left
      padding: .3em
      display: inline-block
      border: 1px solid $dark
      margin-right: .2em
    input
      outline: none
      display: inline-block
      border: none
      cursor: pointer
      height: 30px
      padding: 0


.sidebar
  // margin-top: 1em
  position: relative
  h3
    margin-top: 0
  .tag
    margin: .1em 0

.project-detail
  background: white
  margin-top: 1em
  position: relative
  width: 100%

.logo
  font-weight: bold
  float: left
  box-sizing: border-box
  font-size: 1.2em
  color: $white
  padding: .4em
  background: $turq
  &:hover
    background: $lt-blue
    color: $white

.tags
  margin-bottom: .5em

.tag, input[type="submit"]
  padding: 0.5em
  color: $dark
  display: inline-block
  border-radius: 5px
  background: $turq
  transition: 0.2s
  // box-shadow: rgb(170, 170, 170) 2px 4px 16px 0px
  // background: radial-gradient(circle at 10% 10%, rgb(67, 209, 163) 0%, rgb(67, 209, 160) 50%, rgb(67, 209, 175) 100%)
  // border: none
  &:hover
    cursor: pointer
    background: $dark-turq

.white
  color: white
  text-shadow: 1px 1px #454546

.jumbotron-fluid
  padding: 8em 1em
  border-bottom: 1px solid $dark
  color: $white
  background-size: cover
  background-position: center
  text-shadow: 1px 1px #000

.text-bg
  background: #292929
  padding: 5px
  color: $light

.comment-section
  background: white
  margin-top: 1em
  position: relative
  width: 100%

.comment
  @extend .card

.parent-comment
  border-left: 3px solid #eee
  padding-left: 1em
  border-radius: 0

.subtitle, .description
  float: left
  .item
    float: left
  h1
    font-size: 1em

.description
  width: 100%
  max-height: 100px
  ul, ol
    margin: 0 0 1rem 1rem

.email
  font-weight: bold

.pull-right
  float: right

.pull-left
  float: left

.vote
  position: absolute
  top: 10px
  right: 10px
  padding: .5em 1em
  font-size: 14px
  font-weight: bold
  color: $dark
  border-radius: 5px
  border: none
  transition: 0.2s
  &:hover
    cursor: pointer
    background: $dark-turq
  &[data-toggled='true']
    background: $turq
    cursor: pointer
    &:hover
      background: $dark-turq
      cursor: pointer

.six-col
  &.new
    background: white
    margin-top: 1em
    position: relative

.projects
  background: white
  position: relative
  .header
    padding: 0 0 1em 0

.project, .user
  background: #fff
  position: relative
  padding: 1em 0
  .details
    color: #888
    margin: 0 .5em .5em 0
    font-size: .9em
  .title
    font-weight: bold
    margin: 0

input[type="submit"]
  background: $turq
  color: $dark
  opacity: 0.9
  transition: 0.2s
  &:hover
    cursor: pointer
    background: $dark-turq
    opacity: 1

.new_idea, .edit_idea
  .form-group
    label
      width: 100%

trix-editor
  width: 100%
  &.form-control
    height: auto

.tag-container
  border: 1px solid #eee
  height: 45px
  padding: .3em

input.taggle_input
  border: none
