$white:     #fff
$light:     #e8e8e8
$hover:     #a5a5a5
$dark:      #4c4c4c
$lt-blue:   #399bf7
$blue:      #0084ff

/* util extend classes */
.card
  padding: 1em
  background: white
  margin-top: 1em
  position: relative
  border: 1px solid $light

*, ::after, ::before
  box-sizing: border-box


/* block level elements */
body
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  font-size: 14px
  color: #454545
  box-sizing: border-box
  background: #f9f9f9

a
  color: $dark
  display: inline-block
  text-decoration: none
  &:hover
    box-shadow: none
    color: $hover

ul
  padding: 0
  li
    list-style-type: none

form
  box-sizing: border-box
  font-size: 16px

.alert
  padding: 1em
  color: $white
  &.alert-info
    background: $lt-blue

.form-group
  @extend .row
  margin: .5em 0
  label
    margin: 5px 0
    float: left
    font-weight: bold
    font-size: 16px
  input, textarea
    box-sizing: border-box
    width: 100%
    border: 1px solid $light
    float: left
    font-size: 16px
    padding: .5em
  input[type="radio"]
    width: auto
    margin-bottom: 0
  input[type="submit"]
    background: $blue
    color: $white
    &:hover
      cursor: pointer
      background: $lt-blue
  .selectize-input
    cursor: text
    position: relative
    z-index: 1
    display: inline-block
    width: 100%
    padding: 8px 8px
    overflow: hidden
    border: 1px solid $light
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    background: #fff
    padding: .2em
    .item
      float: left
      padding: .3em
      display: inline-block
      border: 1px solid $dark
      margin-right: .2em
    input
      outline: none
      display: inline-block
      border: none
      cursor: pointer
      height: 30px
      padding: 0


.sidebar
  @extend .card
  h3
    margin-top: 0
  .tag
    margin: .1em 0

.project-detail
  @extend .card

.logo
  font-weight: bold
  float: left
  box-sizing: border-box
  font-size: 1.2em
  color: $white
  padding: .4em
  background: $blue
  &:hover
    background: $lt-blue
    color: $white

.tags
  margin-bottom: .5em

.tag
  padding: 0.5em
  color: $white
  display: inline-block
  font-size: .9em
  background: $blue
  &:hover
    color: $white
    cursor: pointer
    background: $lt-blue

.white
  color: white
  text-shadow: 1px 1px #454546

.hero
  width: 100%
  float: left
  padding: 5em 0
  border-bottom: 1px solid $dark
  background: $blue
  color: $white

.row
  float: left
  width: 100%

.pull-right
  float: right

.pull-left
  float: left

.vote
  position: absolute
  top: 10px
  right: 10px
  padding: .5em 1em
  font-size: 14px
  font-weight: bold
  border: 1px solid $blue
  color: $dark
  &:hover
    background: $blue
    color: $white
    cursor: pointer
  &[data-toggled='true']
    background: $blue
    color: $white
    cursor: pointer
    &:hover
      background: $lt-blue
      color: $white
      cursor: pointer

.six-col
  &.center
    @include grid-push(3)
  &.new
    @extend .card

.projects
  @extend .card
  padding: 0
  .header
    padding: 0 1em
    border-bottom: 1px solid $light

.project
  background: #fff
  position: relative
  padding: 1em
  border-bottom: 1px solid $light
  .details
    margin: .5em 0
  .title
    font-weight: bold
    margin: 0

.rel
  position: relative

.main-nav
  background: $white
  padding: 1em 0
  border-bottom: 1px solid $light
  ul
    margin: .4em 0
    float: right
    li
      display: inline
      padding: .3em
